<div class="menu" [ngClass]="menuService.isCollapsed?'min':''">
  <div class="head">
    <div class="photo" [style]="getPhotoStyle()"></div>
    <h1 class="name">{{p.fullName}}</h1>
    <div class="role" [innerHTML]="getRole()"></div>
    <div class="inf">
      <div class="loc" *ngIf="p.currentLocation && p.currentLocation.length > 0">
        <svg><use xlink:href="#location"></use></svg> {{p.currentLocation}}
      </div>
      <div class="labeled age" *ngIf="isAgeSpecified(p)">{{getAge(p)}}<div class="l">{{getBirthDate(p)}}</div></div>
    </div>
  </div>
  <div class="nav">
    <div class="progress" [style]="menuService.progressStyle">
      <div class="bar">
        <div [style]="menuService.scrollProgress"></div>
      </div>
      <div class="menu-icon" *ngFor="let i of menuService.menuItems">
        <div class="a-center i" [ngClass]="i.state">
          <img class="a-center" [src]="i.svg" [alt]="i.name">
        </div>
      </div>
    </div>
    <div class="items">
      <div class="menu-item" *ngFor="let i of menuService.menuItems"
           (click)="menuService.goToSection(i.link)" [ngClass]="i.state">
        {{i.name}}
      </div>
    </div>
  </div>
  <div class="cont">
    <div class="links">
      <a *ngIf="p.linkedin && p.linkedin.length > 10" href="{{p.linkedin}}" target="_blank">
        <svg><use xlink:href="#linked"></use></svg>
      </a>
      <a [href]="'mailto:' + p.email" target="_blank">
        <svg><use xlink:href="#mail"></use></svg>
      </a>
      <a *ngIf="p.telegram && p.telegram.length > 10" href="{{p.telegram}}" target="_blank">
        <svg><use xlink:href="#tg"></use></svg>
      </a>
      <a *ngIf="p.github && p.github.length > 10" href="{{p.github}}" target="_blank">
        <svg><use xlink:href="#git"></use></svg>
      </a>
    </div>
    <div *ngIf="menuService.isMobile" class="eu">
      <div (click)="copyMail()">
        <div>
          <div class="lbl">email</div>
          <div class="val">{{p.email}}</div>
        </div>
        <div><svg><use xlink:href="#copy"></use></svg></div>
      </div>
      <div (click)="shareProfile()">
        <div>
          <div class="lbl">username</div>
          <div class="val">@{{p.login}}</div>
        </div>
        <div><svg><use xlink:href="#share"></use></svg></div>
      </div>
    </div>
  </div>
</div>
