<div class="card" [ngClass]="isNew ? 'new' : ''">
  <div class="labeled delete" (click)="delete()">
    <svg class="a-center"><use xlink:href="#trash"></use></svg>
    <div class="l">delete</div>
  </div>
  <div class="period">
    <label class="input">
      <input required type="text" [(ngModel)]="s.skillName" (blur)="save()" [ngClass]="s.skillName.length > 1 ? '' : 'err'">
      <span>Skill *</span>
    </label>
    <label class="input">
      <input required list="technologies" [(ngModel)]="s.skillGroup" (blur)="save()" [ngClass]="s.skillGroup.length > 1 ? '' : 'err'">
      <span>Category *</span>
    </label>
  </div>
  <div class="stars">
    <div class="level">Level: </div>
    <div class="labeled" (click)="setSkillLevel(1)" >
      <svg style="color: #FFED76"><use xlink:href="#star"></use></svg>
      <div class="l">Basic awareness</div>
    </div>
    <div class="labeled" (click)="setSkillLevel(2)" >
      <svg [style]="s.skillLevel > 1 ? 'color: #e0d378' : ''"><use xlink:href="#star"></use></svg>
      <div class="l">Occasionally usage</div>
    </div>
    <div class="labeled" (click)="setSkillLevel(3)">
      <svg [style]="s.skillLevel > 2 ? 'color: #e0d378' : ''"><use xlink:href="#star"></use></svg>
      <div class="l">Experienced</div>
    </div>
    <div class="labeled" (click)="setSkillLevel(4)">
      <svg [style]="s.skillLevel > 3 ? 'color: #e0d378' : ''"><use xlink:href="#star"></use></svg>
      <div class="l">Strong knowledge</div>
    </div>
    <div class="labeled" (click)="setSkillLevel(5)">
      <svg [style]="s.skillLevel > 4 ? 'color: #e0d378' : ''"><use xlink:href="#star"></use></svg>
      <div class="l">Expert level</div>
    </div>
  </div>
</div>
