canvas
  width: 100%
  height: 100%
  border-radius: 6px
  box-shadow: 0 0 3px 0 #0000004d
.legend
  position: absolute
  border-radius: 5px
  padding: .5rem
  background-color: #2d2d3a
  box-shadow: 3px 4px 10px 1px #0000007d
  transition: left .1s linear, top .1s linear, transform .1s linear
  font-size: 1rem
  font-weight: 400

.value, .date
  white-space: nowrap

.date
  font-weight: bold
  opacity: .7
  font-size: .8rem
