<date-picker
  *ngIf="startInFocus" [title]="'Start work date'"
  [(date)]="startDate" [spec]="{days: false, month: true, year: true}"
  (submit)="saveStartDate()"></date-picker>

<date-picker *ngIf="endInFocus" [title]="'End work date'"
  [(date)]="endDate" [spec]="{days: false, month: true, year: true}"
  (submit)="saveEndDate()"></date-picker>

<div class="card" [ngClass]="isNew ? 'new' : ''">
  <div class="head">
    <h5>Period</h5>
    <div class="current" (click)="toggleCurrentPosition()">
      <svg [ngClass]="isCurrentPosition ? 'checked' : ''" class="checkbox" viewBox="0 0 24 24">
        <polyline points="20 6 9 17 4 12"></polyline>
      </svg>
      <div>I work here at present</div>
    </div>
    <div class="labeled delete" (click)="delete()">
      <svg class="a-center"><use xlink:href="#trash"></use></svg>
      <div class="l">delete</div>
    </div>
  </div>
  <div class="period">
    <div class="input">
      <div [ngClass]="(startInFocus ? 'focus ' : '') + (isValid(startDate) ? 'filled' : 'err')"
           (click)="startInFocus=true"
      >{{getStartDateString()}}</div>
      <label (click)="startInFocus=true">Start work date *</label>
    </div>
    <div class="input">
      <div [ngClass]=" (endInFocus ? 'focus ' : '') + (isCurrentPosition ? 'disabled ' : '') +
           (isValid(endDate) || isCurrentPosition ? 'filled' : 'err')" (click)="selectEnd()"
      >{{getEndDateString()}}</div>
      <label (click)="selectEnd()">End work date</label>
    </div>
    <div ></div>
  </div>
  <h5>Organisation</h5>
  <div class="place">
    <div class="input">
      <input required type="text" [(ngModel)]="experience.place" (blur)="save()" [ngClass]="experience.place.length > 1 ? '' : 'err'">
      <label>Company name *</label>
    </div>
    <div class="input">
      <input required type="text" [(ngModel)]="experience.role" (blur)="save()" [ngClass]="experience.role.length > 1 ? '' : 'err'">
      <label>Your position name *</label>
    </div>
    <div class="input">
      <input required type="text" [(ngModel)]="experience.location" (blur)="save()">
      <label>Office location</label>
    </div>
    <div class="input">
      <input required type="text" [(ngModel)]="experience.link" (blur)="save()">
      <label>Company site link</label>
    </div>
  </div>
  <div class="input">
    <textarea required [(ngModel)]="experience.description" (blur)="save()" [style]="getDescriptionMinHeight()" (keyup)="checkDescription()"></textarea>
    <label>Your responsibilities and achievements</label>
  </div>
</div>
