<datalist id="technologies" style="display:none;visibility:hidden;">
  <option value="Programming languages"></option>
  <option value="Web technologies"></option>
  <option value="Mobile technologies"></option>
  <option value="Infrastructure"></option>
  <option value="Databases"></option>
  <option value="Network"></option>
  <option value="Machine learning"></option>
  <option value="Big-Data technologies"></option>
  <option value="Game development"></option>
</datalist>
<datalist id="skillsList" style="display:none;visibility:hidden;">
  <option *ngFor="let s of profile.skills" [value]="s.skillName"></option>
  <option *ngFor="let s of newSkills" [value]="s.skillName"></option>
</datalist>
<datalist id="workList" style="display:none;visibility:hidden;">
  <option *ngFor="let e of profile.experience" [value]="e.place"></option>
  <option *ngFor="let e of newExperiences" [value]="e.place"></option>
</datalist>
<date-picker
  *ngIf="selectingBirthDate" [title]="'Birth date'"
  [(date)]="birthDate" [spec]="{days: true, month: true, year: true}"
  (submit)="saveBirthDate()"></date-picker>

<div class="body">
  <app-my-menu [profile]="profile"></app-my-menu>
  <div class="content" (scroll)="menuService.handleScroll(false)">
    <div class="h"></div>
    <div class="s-w" id="intro">
      <h2>Who you are</h2>
      <div class="card">
        <div class="intro-head">
          <div class="labeled avatar" (click)="selectAvatar()" [style]="getAvatarPhoto()">
            <div class="l">Select photo</div>
          </div>
          <div class="info">
            <label class="input" (click)="selectingBirthDate=true">
              <div [ngClass]="(selectingBirthDate?'focus ':'')+(isValid(birthDate)?'filled':'err')"
              >{{getBirthDateString()}}</div>
              <span>Birth date *</span>
            </label>
            <label class="input">
              <input required type="text" [(ngModel)]="profile.role" [ngClass]="!profile.role||profile.role.length<2?'err':''" (blur)="save()">
              <span>Your preferred position *</span>
            </label>
            <label class="input">
              <input required type="text" [(ngModel)]="profile.currentLocation" (blur)="save()">
              <span>Your location</span>
            </label>
          </div>
        </div>
        <label class="input">
        <textarea [(ngModel)]="profile.intro" [attr.val]="profile.intro?profile.intro:''"
                  (blur)="save()" (keyup)="checkIntro()"
                  [style]="getIntroMinHeight()">
        </textarea>
          <span>Introduce yourself</span>
        </label>
      </div>
    </div>
    <div class="s-w" id="experience">
      <h2>Employment history</h2>
      <app-experience [exp]="e" *ngFor="let e of profile.experience; let i = index"
                      (onDelete)="profile.experience.splice(i,1)">
      </app-experience>
      <app-experience [exp]="e" *ngFor="let e of newExperiences; let i = index" [isNew]="true"
                      (onDelete)="newExperiences.splice(i, 1)">
      </app-experience>
      <div class="add" (click)="addExperience()"><div class="btn">Add experience</div></div>
    </div>
    <div class="s-w" id="skills">
      <h2>Skills</h2>
      <app-skill [skill]="s" *ngFor="let s of profile.skills; let i = index"
                 (onDelete)="profile.skills.splice(i, 1)">
      </app-skill>
      <app-skill [skill]="s" *ngFor="let s of newSkills; let i = index" [isNew]="true"
                 (onDelete)="newSkills.splice(i, 1)">
      </app-skill>
      <div class="add" (click)="addSkill()"><div class="btn">Add skill</div></div>
    </div>
    <div class="s-w" id="projects">
      <h2>projects</h2>
      <app-project [project]="p" *ngFor="let p of profile.projects; let i = index"
                   (onDelete)="profile.projects.splice(i, 1)">
      </app-project>
      <app-project [project]="p" *ngFor="let p of newProjects; let i = index" [isNew]="true"
                   (onDelete)="newProjects.splice(i, 1)">
      </app-project>
      <div class="add" (click)="addProject()"><div class="btn">Add project</div></div>
    </div>
    <div class="s-w" id="education">
      <h2>Education</h2>
      <app-education [edu]="e" *ngFor="let e of profile.education; let i = index"
                     (onDelete)="profile.education.splice(i,1)">
      </app-education>
      <app-education [edu]="e" *ngFor="let e of newEducations; let i = index" [isNew]="true"
                     (onDelete)="newEducations.splice(i, 1)">
      </app-education>
      <div class="add" (click)="addEducation()"><div class="btn">Add education</div></div>
    </div>
    <div class="s-w" id="contacts">
      <h2>Contact me</h2>
    </div>
  </div>
</div>
