<div class="menu">
  <div class="head">
    <div class="photo" style="{{getPhotoStyle()}}"></div>
    <h1 class="name">{{profile.fullName}}</h1>
    <div class="role" [innerHTML]="getRole()"></div>
    <div class="loc" *ngIf="profile.currentLocation && profile.currentLocation.length > 0">
      <svg><use xlink:href="#location"></use></svg> {{profile.currentLocation}}
    </div>
    <div class="labeled age" *ngIf="isAgeSpecified">{{age}}<div class="l">{{birthDate}}</div></div>
  </div>
  <div class="nav">
    <div class="progress" [style]="menuService.progressHeight">
      <div class="bar">
        <div [style]="menuService.scrollProgress"></div>
      </div>
      <div class="menu-icon" *ngFor="let i of menuService.menuItems">
        <div class="a-center i" [ngClass]="i.state">
          <img class="a-center" [src]="i.svg" [alt]="i.name">
        </div>
      </div>
    </div>
    <div class="items">
      <div class="menu-item" *ngFor="let i of menuService.menuItems"
           (click)="menuService.goToSection(i.link)" [ngClass]="i.state">
        {{i.name}}
      </div>
    </div>
  </div>
</div>
