<div class="pr">
  <div #el class="pr-b">
    <div class="d">
      <div class="t">{{p.title}}<span class="pl">{{getPlace()}}</span></div>
      <div class="desc">{{p.description.substring(0, 70).trim() + '...'}}</div>
      <div class="btn view" (click)="openFullScreen()">view details</div>
    </div>
  </div>
</div>

<div class="o" *ngIf="isVisible" [style.opacity]="isFullScreen ? 1 : 0" (click)="collapse()"></div>
<div class="pr-b a-center max" *ngIf="isVisible" [style]="getRectStyle() "
     [ngClass]="(isFullScreen ? 'full ' : '') + (isOpened ? 'open' : '')">

  <div class="d">
    <div class="top" [style.height]="isFullScreen ? '15rem' : titleHeight">
      <img *ngIf="p.image && p.image.length > 10" src="{{p.image}}" alt="{{p.title}}">
      <div class="g" [style.background]="imageGradient"></div>
      <div class="h" [style.color]="labelColor">
        <div class="c" (click)="collapse()">
          <svg class="a-center"><use xlink:href="#back"></use></svg>
        </div>
        <div>
          <div class="t" [style.color]="isFullScreen ? titleColor : ''">{{p.title}}</div>
          <div class="role">{{p.role}} {{getPlace()}}</div>
        </div>
      </div>
    </div>

    <div class="b">
      <div class="p-desc">{{p.description}}</div>
      <div style="transition: opacity .2s" [style.opacity]="isOpened ? 1 : 0">
        <h4>Environment</h4>
        <div class="tags">
          <div class="tag" *ngFor="let t of p.tags">{{t}}</div>
        </div>
        <h4>Links</h4>
        <div class="links">
          <div *ngFor="let l of p.links">
            <a class="a" [href]="l.link" target="_blank">{{l.label}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
