.pr
  display: inline-block
  position: relative
  margin-right: 2px
  margin-bottom: 1.5rem

.t
  line-height: 1.1
  margin-bottom: 1rem
  font-size: 1.1rem
  font-weight: bold
  color: var(--text-color)
.pl
  color: var(--text-color)
  opacity: .5
  font-weight: 500
  font-size: .9rem
  margin-left: .5rem

.pr-b
  border-radius: 5px
  overflow: hidden
  background: #22222e
  box-shadow: 0 0 0 1px #34374b
  img
    width: 100%
    aspect-ratio: 2/1
    object-fit: cover
    object-position: top left
  .d
    padding: 1rem
  .view
    background-color: #5455697D
    padding: 0 1rem
    transition: .3s
    border-radius: 5px
    width: fit-content
    margin-top: 1rem
    &:hover
      background-color: #5455699D
      color: #fff

.p-i
  background: #2c2c39 left top
  background-size: cover
  position: absolute
  width: 100%
  height: 100%
  z-index: -1

.max
  position: fixed
  top: 1rem
  left: 1rem
  width: calc(100% - 2rem)
  height: calc(100% - 2rem)
  z-index: 14
  transition: .3s
  display: flex
  .role
    line-height: 0
    overflow: hidden
    transition: line-height .3s, transform .3s
  .t
    transition: font-size .3s, color .3s
    font-weight: bold
  .b
    width: 100%
    max-width: calc(700px + 15vw)
    transition: width .3s
    padding-right: 1rem
    height: 100%
    overflow-x: hidden
    overflow-y: scroll
  .inf
    transition: width .3s, background .3s
    overflow: hidden
    height: 0
    width: 0
    &>div
      width: var(--menu-w)
      padding: 1rem
  img
    width: 100%
    border-radius: 5px
  .tag
    font-size: .9rem

.full
  background-color: #1d1d28
  box-shadow: none
  .b
    width: calc(100% - var(--menu-w))
    padding: 1rem
  .inf
    background: #22222e
    width: var(--menu-w)
    height: 100%
    overflow: hidden
  .t
    font-size: 1.5rem

.open
  .role
    transform: translateY(-60%)
    line-height: 1.4



.p-i
  background: #2c2c39 left top
  background-size: cover
  position: absolute
  width: 100%
  height: 100%
  z-index: -1


.links, .tags
  padding-left: .5rem
.tags
  display: flex
  flex-wrap: wrap
.tag
  padding: 0 5px
  background-color: #606c837d
  color: #efdfcf
  border-radius: 3px
  margin-right: 4px
  margin-top: 3px
  font-size: .9rem

@media screen and (max-width: 500px)
  .pr
    width: 100%
