<div class="o" *ngIf="!isLoaded" >
  <div class="a-center" style="text-align: center">
    Loading...
    <div class="p">
      <div class="v" [style.width]="progress.current+'%'"></div>
    </div>
    {{progress.current.toFixed(0)}}%
  </div>
</div>
<div class="body" *ngIf="profileReady">
  <div class="content" (scroll)="menuService.handleScroll(false)">
<!--    <div class="h"></div>-->

    <div class="s-w" id="intro">
      <div class="hi">Hi, my name is</div>
      <div class="me">{{data.fullName}}</div>
      <p [innerHTML]="data.introHTML"></p>
    </div>

    <div class="s-w s-w-e" id="experience" *ngIf="data.experience.length > 0">
      <h2>Employment history</h2>
      <div class="edu" *ngFor="let e of data.experience">
        <div class="flex wrap top">
          <div class="m-i company" [ngClass]="e.link ? 'labeled' : ''" (click)="visitCompanySite(e)">
            <div *ngIf="e.companyLogo" class="c-logo" [style]="getLogoImage(e)"></div>
            <div>
              <h4 class="name">{{e.role}}</h4>
              <div class="lbl comp">{{e.place}} &#8226; {{e.duration}}</div>
              <div class="lbl">
                <svg><use xlink:href="#location"></use></svg>
                <span>{{e.location}}</span>
              </div>
            </div>
            <div *ngIf="e.link" class="l">{{e.link}}</div>
          </div>
          <div class="period">{{e.period}}</div>
        </div>
        <div *ngIf="e.description" class="desc">{{e.description}}</div>
      </div>
      <div class="edu-progress"></div>
    </div>

    <div class="s-w" id="skills" *ngIf="data.skills.length > 0">
      <h2>Skills</h2>
      <div class="g" *ngFor="let g of data.skills">
        <h4>{{g.name}}</h4>
        <div [ngClass]="g.skills.length > 3 ? 'flex' : ''">
          <div class="skill" *ngFor="let s of g.skills">
            <div>{{s.skillName}}</div>
            <div class="stars">
              <div><svg style="color: #FFED76"><use xlink:href="#star"></use></svg></div>
              <div><svg [style]="s.skillLevel > 1 ? 'color: #e0d378' : ''"><use xlink:href="#star"></use></svg></div>
              <div><svg [style]="s.skillLevel > 2 ? 'color: #e0d378' : ''"><use xlink:href="#star"></use></svg></div>
              <div><svg [style]="s.skillLevel > 3 ? 'color: #e0d378' : ''"><use xlink:href="#star"></use></svg></div>
              <div><svg [style]="s.skillLevel > 4 ? 'color: #e0d378' : ''"><use xlink:href="#star"></use></svg></div>
              <div class="lvl">{{getSkillLevelString(s)}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="s-w" id="projects" *ngIf="data.projects.length > 0">
      <h2>Projects</h2>
      <div class="pr-wr">
        <app-project [p]="p" *ngFor="let p of data.projects"></app-project>
      </div>
    </div>

    <div class="s-w s-w-e" id="education" *ngIf="data.education.length > 0">
      <h2>Education</h2>
      <div class="edu" *ngFor="let e of data.education">
        <div class="flex wrap top">
          <div class="m-i">
            <h4 class="name">{{e.institutionName}}</h4>
            <div *ngIf="e.label" class="lbl">{{e.label}}</div>
          </div>
          <div class="period">{{e.period}}</div>
        </div>
        <div *ngIf="e.description" class="desc">{{e.description}}</div>
      </div>
      <div class="edu-end">To be continued...</div>
      <div class="edu-progress"></div>
    </div>

    <div class="s-w" id="contacts">
      <app-feedback [id]="data.id"></app-feedback>
    </div>

  </div>
  <app-menu [profile]="data"></app-menu>
</div>
