$photo-width: calc(100px + 5vw)

.input
  div, input, textarea
    background-color: #0e0e192d
    border-radius: 2px
    box-shadow: 0 0 0 1px #3c3c4d3d
  &:hover
    div, input, textarea
      background-color: #0e0e193d
  div, input
    height: var(--padding-20)
    line-height: var(--padding-20)
  div, input, textarea
    &:focus, &.focus
      background-color: #0e0e196d
      box-shadow: 0 0 0 2px #3c3c4d

.body-wrapper
  transition: transform 0.4s
  width: 300vw
  height: 100%
  position: relative
  left: 50%
  transform: translate(-50%)
.body
  left: calc(100vw + var(--padding-10))

.buttons
  position: absolute
  left: 50%
  transform: translateX(-50%)
  bottom: var(--padding-15)
  padding: var(--padding-5)
  display: flex
  background-color: #343444
  box-shadow: 1px 3px 20px 5px #0000005d
  border-radius: 300px
  .btn
    width: var(--padding-25)
    border-radius: 50%
    margin: 0 var(--padding-5)
    position: relative
    transition: color 0.2s
    color: rgba(255, 244, 237, 0.89)
    &:hover
      color: #fff
    &.statistics
      margin-left: 0
    &.settings
      margin-right: 0
  svg
    width: var(--font-13)
    height: var(--font-13)

.under
  position: absolute
  top: var(--padding-5)
  left: var(--padding-5)
  width: var(--padding-25)
  height: var(--padding-25)
  transition: transform 0.2s cubic-bezier(0.02, 0.93, 0.25, 1.24)
  border-radius: 50%
  background-color: #0000009d

.intro-head
  display: flex
  align-items: center
  padding: var(--padding-10) 0
  .input
    margin-bottom: var(--padding-5)
.info
  padding-bottom: var(--padding-5)
  padding-left: var(--padding-10)
.avatar
  width: $photo-width
  height: $photo-width
  background-size: cover
  background-position: center
  border-radius: 3px
  background-color: #1e1e2c9d
  cursor: pointer

.card
  background-color: #3c3c4d5d
  border-radius: 6px
  box-shadow: 0 0 0 1px #3c3c4d
  padding: var(--padding-10)
  padding-top: 0
  position: relative
  transition: 0.2s box-shadow
  margin-bottom: var(--padding-15)
  h5
    font-size: var(--font-12)
    padding: var(--padding-15) 0
    padding-bottom: var(--padding-5)
    margin: 0
  .input
    div
      white-space: nowrap
      width: var(--menu-w)
      max-width: 100%
  .period
    display: flex
    width: 100%
    .input
      max-width: calc(50% - var(--padding-10))
      &:first-child
        margin-right: var(--padding-10)
      .disabled
        box-shadow: none
        background-color: transparent
  .head
    display: flex
    align-items: center
    h5
      padding: var(--padding-15) 0
  .current
    width: 100%
    display: flex
    align-items: center
    cursor: pointer
  svg
    margin-right: var(--padding-5)
    margin-left: var(--padding-15)

  .delete
    height: var(--padding-25)
    width: var(--padding-25)
    top: var(--padding-15)
    right: var(--padding-10)
    position: absolute
    border-radius: 50%
    cursor: pointer
    background-color: #555562
    opacity: 0.4
    transition: 0.2s
    img, svg
      color: #eef
      width: var(--padding-10)
      height: var(--padding-10)
      margin: 0
    &:hover
      opacity: 1
      background-color: #B74B4B7d
      svg
        color: #F15151


.place
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  .input
    width: calc(50% - 5px - 0.25vw)

.new
  box-shadow: 0 0 0 6px #575da25d, 0 0 0 2px #575da2



.checkbox
  border: calc(2px + 0.1vw) solid #b7b7b7bd
  stroke: #ffffff
  stroke-dasharray: 25
  stroke-dashoffset: 25
  stroke-linecap: round
  stroke-width: calc(2px + 0.1vw)
  border-radius: 3px
  fill: none
  cursor: pointer
  width: var(--padding-15)
  height: var(--padding-15)
  transition: background-color 0.3s, border-color 0.25s, stroke-dashoffset 0.4s
  &.checked
    background-color: var(--g)
    border-color: var(--g)
    stroke-dashoffset: 0

.add
  cursor: pointer
  display: flex
  justify-content: center
  .btn
    width: fit-content
    font-weight: bold
    background-color: #0000003d
    padding: 0 var(--padding-15)
    transition: 0.2s
    &:hover
      background-color: #000000ad


