$photo-width: 10rem

.input
  div, input, textarea
    background-color: #0e0e192d
    border-radius: 2px
    box-shadow: 0 0 0 1px #3c3c4d3d
  &:hover
    div, input, textarea
      background-color: #0e0e193d
  div, input
    height: 2rem
    line-height: 2rem
  div, input, textarea
    &:focus, &.focus
      background-color: #0e0e196d
      box-shadow: 0 0 0 2px #3c3c4d

.body-wrapper
  transition: transform .4s
  width: 300vw
  height: 100%
  position: relative
  left: 50%
  transform: translate(-50%)
.body
  left: calc(100vw + 1rem)

.buttons
  position: absolute
  left: 50%
  transform: translateX(-50%)
  bottom: 1.5rem
  padding: .5rem
  display: flex
  background-color: #343444
  box-shadow: 1px 3px 20px 5px #0000005d
  border-radius: 300px
  .btn
    width: 2.5rem
    border-radius: 50%
    margin: 0 .5rem
    position: relative
    transition: color .2s
    color: rgba(255, 244, 237, .89)
    &:hover
      color: #fff
    &.statistics
      margin-left: 0
    &.settings
      margin-right: 0
  svg
    width: 1.3rem
    height: 1.3rem

.under
  position: absolute
  top: .5rem
  left: .5rem
  width: 2.5rem
  height: 2.5rem
  transition: transform .2s cubic-bezier(.02, .93, .25, 1.24)
  border-radius: 50%
  background-color: #0000009d

.intro-head
  display: flex
  align-items: center
  padding: 1rem 0
  .input
    margin-bottom: .5rem
.info
  padding-bottom: .5rem
  padding-left: 1rem
.avatar
  width: $photo-width
  height: $photo-width
  background-size: cover
  background-position: center
  border-radius: 3px
  background-color: #1e1e2c9d
  cursor: pointer

.card
  background-color: #3c3c4d5d
  border-radius: 6px
  box-shadow: 0 0 0 1px #3c3c4d
  padding: 1rem
  position: relative
  transition: .2s box-shadow
  margin-bottom: 1.5rem
  h5
    font-size: 1.2rem
    padding: 1.5rem 0 .5rem
    margin: 0
  .input
    div
      white-space: nowrap
      width: var(--menu-w)
      max-width: 100%
  .period
    display: flex
    width: 100%
    .input
      max-width: calc(50% - 1rem)
      &:first-child
        margin-right: 1rem
      .disabled
        box-shadow: none
        background-color: transparent
  .head
    display: flex
    align-items: center
    h5
      padding: 0

  .current
    width: 100%
    display: flex
    align-items: center
    cursor: pointer
  svg
    margin-right: .5rem
    margin-left: 1.5rem

  .delete
    height: 2.5rem
    width: 2.5rem
    top: 1.5rem
    right: 1rem
    position: absolute
    border-radius: 50%
    cursor: pointer
    background-color: #555562
    opacity: .4
    transition: .2s
    img, svg
      color: #eef
      width: 1rem
      height: 1rem
      margin: 0
    &:hover
      opacity: 1
      background-color: #B74B4B7d
      svg
        color: #F15151


.place
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  .input
    width: calc(50% - .5rem)

.new
  box-shadow: 0 0 0 6px #575da25d, 0 0 0 2px #575da2



.checkbox
  border: .2rem solid #b7b7b7bd
  stroke: #ffffff
  stroke-dasharray: 25
  stroke-dashoffset: 25
  stroke-linecap: round
  stroke-width: .2rem
  border-radius: 3px
  fill: none
  cursor: pointer
  width: 1.5rem
  height:  1.5rem
  transition: background-color .3s, border-color .25s, stroke-dashoffset .4s
  &.checked
    background-color: var(--g)
    border-color: var(--g)
    stroke-dashoffset: 0

.add
  cursor: pointer
  display: flex
  justify-content: center
  .btn
    width: fit-content
    font-weight: bold
    background-color: #0000003d
    padding: 0 1.5rem
    transition: .2s
    &:hover
      background-color: #000000ad

@media screen and (max-width: 500px)
  .body
    left: 100vw
  .buttons
    transform: translate(-50%, -5%) scale(1.2)

