<div class="overlay" (click)="service.closeWindow()" *ngIf="service.isElementExist" [ngClass]="service.selectWindowShown? 'visible' : ''"></div>
<div [ngClass]="service.selectWindowShown? 'visible' : ''" class="frame">
  <h5>{{service.title}}</h5>
  <div class="selector" [ngClass]="upLoadingPhoto ? 'loading' : ''">
    <svg class="a-center" style="color: #999"><use xlink:href="#upload"></use></svg>
    <input class="img" type="file" (change)="handleInput($event)">
  </div>
  <div *ngFor="let i of service.images">
    <div class="img" (click)="service.select(i)" [style]="'background-image: url(' + i.publicUrl + ')'"></div>
    <div class="labeled delete" (click)="delete(i)">
      <svg class="a-center"><use xlink:href="#trash"></use></svg>
      <div class="l">delete</div>
    </div>
  </div>
</div>
